

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
<head>
<title>What is Ashop?</title>

<meta name="Generator" content="CMS Made Simple - Copyright (C) 2004-9 Ted Kulp. All rights reserved." />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 
<!-- Add code here that should appear in the metadata section of all new pages -->


<script type="text/javascript">

   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-31879120-1']);
   _gaq.push(['_trackPageview']);

   (function() {
     var ga = document.createElement('script'); ga.type = 
'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 
'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; 
s.parentNode.insertBefore(ga, s);
   })();

</script>

</head>
<body id="indexHomeBody">

<div id="mainWrapper">




<div id="contenttwo"> 

   <div id="content">
 <h1>Welcome to the Ashop!</h1>
 
 <p>
At the Ashop you can find anything you want!

We are selling all kinds of staff!
 </p>
<h2>What is Ashop?</h2>
<p>Ashop is a place that you can purchase anything you like.</p>
<p>You can browse our products by going to "Our Products" section or by clicking one of the categories in the right side.</p>
<p><img title="Games Symbol" src="/assets/games.jpg" alt="Games Symbol" width="200" height="200" /> <img title="Books Symbol" src="/assets/books.jpeg" alt="Books Symbol" width="200" height="200" /> <img title="Music Symbol" src="/assets/musici.jpeg" alt="Music Symbol" width="200" height="200" /></p>
</div>

<!--  -->
</div> 


	<div id="lefttwo"> 
	<!-- LEFT COLUMN -->
	<!--  -->
        <div id="navColumnOneWrapper" style="width: 186px"><!--// bof: categories //-->
<div class="leftBoxContainer" id="categories" style="width: 186px">

<h3 class="leftBoxHeading" id="contentHeading"><a href="/all-about-Ashop"></a></h3><div id="categoriesContent" class="sideBoxContent">

 </div>
<h3 class="leftBoxHeading" id="categoriesHeading"><a href="/shop/"></a></h3>
<div id="ezpages" class="leftBoxContainer" style="width: 186px;">

</div>
</div>

</div></td>
       

	<br />
	<!-- END LEFT COLUMN -->
	</div>
	<div class="clear"></div>   

</div> 

</body></html>