<h1>About Us</h1>

<br/>
<p>

This is a web application made in Ruby on Rails.<br/><br/>

Guests can take a look around.<br/>
Users/Admins can login or logout,<br/>
buy/add/edit/delete or search products.<br/>
They also can update their profile information and contact us if they wish :)<br/>




</p>
